// Variables para el tema claro
$primary: #C48DE0; // 
$secondary: #C8E072; // 
$success: #89E0A0; //  
$info: #8BE0D4; // 
$warning: #E1D88E; //  
$danger: #E06854; // 
$light: #fff5e6e3; //  
$dark: #69686b; //  
$body-bg: #f3ece3; // 
$text-color: #2b2626; // 